body{
    color:black;
}

tbody, tr, th, td{
    border: 1.7px solid black;
}
.main_table{
    border: 1.7px solid black;
    width: 100%;
}

.first_table, .second_table, .third_table, .fourth_table{
    border: 1.7px solid black;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.first_container{
    width: 50%;
    height: 200px;
}

.third_container{
    height:100px;
}

.html_style{
    background-color: black;
    color: white;
}